---
# Page
pageHeader: Article
pageHeaderDescriptor: "Aside to the Left"
pageSummary: Example page with the sidebar to the left side of the page.
---
{{composite module.jumbo1}}
<section class="content-section">
{{#container}}
{{#row}}
  {{#column 'sm-9 col-sm-push-3'}}
    {{#div class="page-header"}}
      {{#h3}}Page Subtitle {{small "written by Keith Williams"}}{{/h3}}
    {{/div}}
    {{#p}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, eius, consectetur, libero corrupti velit ea dolore natus in iure dicta aliquam laborum amet nemo obcaecati sequi fugiat praesentium dolorem quia quam adipisci similique id voluptates magni. Tenetur, consequatur, culpa, eligendi beatae nisi nesciunt voluptatibus ratione expedita aliquam vero ad ipsam sapiente ducimus laudantium doloremque. Quam, perferendis, delectus, atque, facere quasi minima sunt suscipit quas placeat consectetur obcaecati laborum neque odit rem a in fuga ipsa?{{/p}}

    {{#p}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, commodi, voluptates, repudiandae aperiam impedit facilis ut iste molestias optio laboriosam laudantium aspernatur facere! Eos, asperiores, tempore sequi impedit distinctio deserunt ex delectus possimus animi eveniet vel dolor ea reiciendis inventore ipsa eius corrupti sapiente hic vero veniam repellat neque maxime.{{/p}}
    {{#div class="right"}}{{img img.iphone}}{{/div}}
    {{#p}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, sit, molestiae animi obcaecati quibusdam aut dolores velit aliquam similique assumenda est mollitia provident in magnam expedita repellat non eaque dolorem eum modi! Enim, repellat, dignissimos distinctio est maiores ratione nulla quas cumque rem iusto consectetur maxime quasi nobis explicabo illo eveniet odio vero deserunt dolorem totam assumenda laborum sint culpa quae nisi aliquid repudiandae temporibus! Rem, velit magnam ipsam voluptate asperiores vitae tenetur qui.{{/p}}

    {{#p}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, nobis, ipsa, sapiente consequatur possimus unde enim perferendis recusandae ducimus reiciendis assumenda natus. Tempore, consectetur est quod fugiat dolor suscipit beatae adipisci quisquam itaque et vitae magnam atque eveniet hic vero odit consequatur repellat magni quas dolores inventore cum veritatis officia nemo rem nisi aperiam earum? Asperiores, cupiditate, nulla, ab, temporibus iure distinctio quia autem nam enim quaerat neque harum ea atque tempore similique assumenda sint magni veritatis rem porro laboriosam quisquam quam numquam nostrum repellat eligendi eaque id aperiam soluta molestias in dolorum odio aliquam. Molestias, laborum, consequuntur atque quo pariatur animi doloremque autem hic dolores recusandae saepe sed ad iure tempora tempore fugit voluptas quasi eius quae ut nobis et itaque maiores. Omnis, rerum, nulla, quam, laboriosam rem facilis eos ducimus quo odit aliquam dignissimos laborum quae culpa sed ullam eum dicta dolorum deserunt architecto distinctio maiores blanditiis incidunt necessitatibus reprehenderit iste sint quos ipsum ipsam repudiandae eveniet nostrum neque esse vitae. Pariatur, aliquid, aliquam, praesentium iusto saepe voluptatibus fugiat sit dolore repellendus ut minima a sequi rem expedita ab necessitatibus ad magnam consequuntur beatae iure illo ullam architecto numquam obcaecati ex similique qui nostrum quidem modi laudantium aperiam quisquam nisi nemo quo itaque laboriosam dignissimos! Eveniet, fugiat, eos, fuga aliquam voluptates corrupti quia magni dolore consequuntur eum ducimus harum sed quis beatae illum voluptatum maxime dolor impedit ipsa maiores id earum mollitia incidunt laborum repudiandae quas non pariatur doloribus asperiores tempora. Libero possimus quibusdam non cumque molestiae fugit blanditiis quis sunt ab maiores! Nobis, incidunt, quas velit asperiores ut soluta harum minus numquam odio fuga quos unde aut dolores tempore veniam. Libero, officiis iusto quidem nemo. Optio, officia, eligendi, quasi veritatis quo tempora odio ab temporibus sit rerum soluta amet similique recusandae autem qui eveniet voluptate omnis at.{{/p}}
  {{/column}}
  {{#column 'sm-3 col-sm-pull-9'}}
    {{#aside}}
      {{#div class="page-header"}}
        {{h3 "About kdigimedia"}}
      {{/div}}
      {{#p}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minima doloribus possimus nulla quasi blanditiis distinctio consequuntur totam maxime veniam ducimus iure molestias molestiae alias dignissimos rem quod ex ipsum at eos a deserunt architecto.{{/p}}
    {{/aside}}
  {{/column}}
{{/row}}
{{space 40}}
{{/container}}
</section>
