{{#prettify}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{> _head }}
</head>
<body{{isScrollspy scrollspy}}>
  {{> _header }}
  {{#if stickyFooter}}<div id="wrap">{{/if}}
    <main{{isId layoutID}}{{isClass layoutClass}}>
    {{#if layoutContainter}}
      <div class="{{layoutContainter}}">
      {{> body}}
      </div>
    {{else}}
      {{> body}}
    {{/if}}
    </main>
  {{#if stickFooter}}
    </div>
    {{div id="push"}}
  {{/if}}
  {{> _footer }}
</body>
</html>
{{/prettify}}